@import 'csstyle';

@include component(c1) {
  @include option(o1) {
    top: 0;
  }
}

@include component(c1) {
  @include option(o1, o2) {
    top: 0;
  }
}

@include component(c1, c2) {
  @include option(o1) {
    top: 0;
  }
}

@include component(c1, c2) {
  @include option(o1, o2) {
    top: 0;
  }
}

@include tweak(t1) {
  @include option(o1) {
    top: 0;
  }
}

@include location(l1) {
  @include option(o1) {
    top: 0;
  }
}
